# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environment files
.env

# OS files
.DS_Store

# Data folders (ignore ALL raw & processed data)
data/raw/
data/processed/

# Any CSV anywhere (extra safety)
*.csv
